<h1>搜索结果</h1>
<div class="box blog_link" id="item-view">
  <p id="tagline" style="text-align:center;font-size:36px;"><strong>关键词：<%= @keyword%></strong></p>
  <br/>
  <%= render 'search/more'%>
</div>
