<h1>留言板</h1>
<div class="box">
  <%=image_tag "msgboard.jpg", :class=>"imgl", :width=>"160", :height=>"120"%>
  <p>&nbsp;&nbsp;&nbsp;&nbsp; 2011年2月4日16点57分，一阵清脆的啼哭声在手术室里回荡，我们的yoyo宝贝在预产期后第8天终于降临人世了。看着那一团带着丝丝血迹白乎乎的小肉球扭动着身体哇哇大哭，悬着的心终于落地了，是个健康强壮的宝宝。再也按捺不住激动的心情，眼泪止不住的往下流，那是一股幸福的暖流在胸中流淌。从此这个会哭的小人人就是我们的全部、我们的世界，她的一颦一笑、一哭一闹都牵动着我们的神经，yoyo带给我们的不仅仅是欣喜激动，更多的是一份牵肠和责任。
  <p> &nbsp;&nbsp;&nbsp;&nbsp;为了记录yoyo的成长，尽可能多的为她留下美好的成长记忆，爸爸决定为yoyo写一个博客网站记录我们yoyo的成长历程。在爸爸为期一个月的努力下，2011年5月4日我们的EVERYDAY1.0终于如期上线了，从此开始了我们everyday的生活。妈妈变身成为网站编辑和摄像，爸爸则是网站运营总监和技术顾问，everyday成为了我们第二个孩子。现在更新BLOG已成为每天的必然，不管再忙再累，总会打起精神，抽出几十分钟的时间来更新我们的网上小屋。</p>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;感谢每一个默默支持我们的朋友们，你们的每一次点击都是对我们的关注和肯定，现在我们的everyday不仅仅是为了yoyo记录记忆，更为了与大家分享简单快乐！我们在路上，我们会更努力，加油！为了更美的明天。
  </p>
  <br />
  <hr/>
  <br />
  <%=image_tag "msgboard.jpg", :class=>"imgr", :width=>"160", :height=>"120"%>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;2012年5月4日，我们的everyday走过了整整一年，yoyo小朋友也15个月大了，她已经从一个只会呱呱啼哭的小婴孩长成了一个活泼可爱、古灵精怪的大宝宝了。一年的时间里共计347篇日记，每一篇都是妈妈爱的纪录，以前没觉得自己有多大的毅力，却为了女儿坚持了这么久，原来孩子才是最大的动力来源。
  </p>
  <div class="clear"></div>
</div>

<div id="disqus_thread"></div>
<script type="text/javascript">
  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
var disqus_developer = 1;
var disqus_shortname = 'everyday-cn'; // required: replace example with your forum shortname
/* * * DON'T EDIT BELOW THIS LINE * * */
(function() {
 var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
 dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
 (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
 })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

