<h1>留言板</h1>
<div class="box">
  <img class="imgl" src="images/folio.jpg" alt="" width="160" height="120" />
  <p>Eget nunc orci turpis minim sed vel. Volutpat urna sit tellus sapien. Quis aliquet viverra mi tristique elit cumque, eu blandit magna, integer sed metus id leo congue fusce.</p>
  <p>Dapiensociis <a href="#">temper donec auctortortis cumsan</a> et curabitur condis lorem loborttis leo. Ipsumcommodo libero nunc at in velis tincidunt pellentum tincidunt vel lorem.</p>
  <p>Eget nunc orci turpis minim sed vel. Volutpat urna sit tellus sapien. Quis aliquet viverra mi tristique elit cumque, eu blandit magna, integer sed metus id leo congue fusce.</p>

  <!-- TODO: -->
  <br />
  <div class="clear"></div>
</div>
