<h1>关于Everyday</h1>
<div class="box">
  <div class="content">
    <img class="imgl" src="images/folio.jpg" alt="" width="260" height="160" />
    <div>
      <div class="date"><span class="day">24</span> <span class="month">May</span> <span class="year">2011</span></div>
    </div>
    <p>Eget nunc orci turpis minim sed vel. Volutpat urna sit tellus sapien. Quis aliquet viverra mi tristique elit cumque, eu blandit magna, integer sed metus id leo congue fusce.</p>
    <p>Dapiensociis <a href="#">temper donec auctortortis cumsan</a> et curabitur condis lorem loborttis leo. Ipsumcommodo libero nunc at in velis tincidunt pellentum tincidunt vel lorem.</p>

    <div class="clear"></div>
    <img class="imgl" src="images/folio2.jpg" alt="" width="260" height="160" />
    <div>
      <div class="date"><span class="day">24</span> <span class="month">May</span> <span class="year">2011</span></div>
    </div>
    <p>Temperinte interdum sempus odio urna eget curabitur semper convallis nunc laoreet. Nullain convallis ris <a href="#"><strong>elis vest liberos nis diculis</strong></a> feugiat in rutrum. Suspendreristibulumfaucibulum lobortor quis tortortor ris sapien sce enim et volutpat sus.</p>
    <p>Urnaretiumorci orci <strong>fauctor leo justo nulla cras ridiculum</strong> eu id vitae. Etnon et dolor auctor eu loreet fring temper pend pede integestibus.</p>
    <p>Portortornec condimenterdum eget consectetuer condis consequam pretium pellus sed mauris enim. Puruselit mauris nulla hendimentesque elit semper nam a sapien urna sempus.</p>

    <div class="clear"></div>
    <img class="imgl" src="images/folio.jpg" alt="" width="260" height="160" />
    <div>
      <div class="date"><span class="day">24</span> <span class="month">May</span> <span class="year">2011</span></div>
    </div>
    <p>Eget nunc orci turpis minim sed vel. Volutpat urna sit tellus sapien. Quis aliquet viverra mi tristique elit cumque, eu blandit magna, integer sed metus id leo congue fusce.</p>
    <p>Dapiensociis <a href="#">temper donec auctortortis cumsan</a> et curabitur condis lorem loborttis leo. Ipsumcommodo libero nunc at in velis tincidunt pellentum tincidunt vel lorem.</p>
  </div>

  <div class="sidebar">
    <div class="subnav">
      <h5>关注我们!</h5>
      <ul>
        <li><a href="#">新浪微博</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Linkedin</a></li>
      </ul>
    </div>
  </div>

  <div class="sidebar">
    <div class="subnav">
      <h5>友情链接</h5>
      <ul>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Linkedin</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Linkedin</a></li>
      </ul>
    </div>
  </div>
  <div class="clear"></div>
</div>

</div>
<br />
<br />

<div class="container2">
  <article id="home_featured2">
  <h1>我们的作品</h1>
  <ul>
    <li>
    <div class="imgholder"><a href="images/slide1.jpg" data-gal="prettyPhoto[featured]" title="First Featured Title"><img src="images/featured1.jpg" width="275" height="145" alt="" /></a></div>
    <h4>First Featured Title</h4>
    <p>Orciint erdum condimen terdum nulla mcorper elit nam curabitur laoreet met prae senean et iac ulum. Metridiculis cons eque quis iaculum aenean nunc aenean.</p>
    </li>
    <li>
    <div class="imgholder"><a href="images/slide2.jpg" data-gal="prettyPhoto[featured]" title="Second Featured Title"><img src="images/featured2.jpg" width="275" height="145" alt="" /></a></div>
    <h4>Second Featured Title</h4>
    <p>Orciint erdum condimen terdum nulla mcorper elit nam curabitur laoreet met prae senean et iac ulum. Metridiculis cons eque quis iaculum aenean nunc aenean.</p>
    </li>
    <li class="last">
    <div class="imgholder"><a href="images/slide3.jpg" data-gal="prettyPhoto[featured]" title="Third Featured Title"><img src="images/featured3.jpg" width="275" height="145" alt="" /></a></div>
    <h4>Third Featured Title</h4>
    <p>Orciint erdum condimen terdum nulla mcorper elit nam curabitur laoreet met prae senean et iac ulum. Metridiculis cons eque quis iaculum aenean nunc aenean.</p>
    </li>
  </ul>
  <br class="clear" />
  </article>
</div>

