<h1>关于Everyday</h1>
<div class="box">
  <div class="content">
    <a href="images/eyd1.0.png"  data-gal="prettyPhoto"  target="_blank" title="everyday1.0"><img src="images/eyd1.0.png" class="imgl" width="280", height="180" /></a>
    <div>
      <div class="date"><span class="day">04</span> <span class="month">May</span> <span class="year">2011</span></div>
    </div>
    <p>从2011年3月开始准备，经过了一个多月的开发，everyday 1.0版本于2011年5月4号上线，这也是首次正式的使用rails开发一个项目，1.0的版本，集成了新浪微博等功能。由于后来新浪微博对第三放开发者门槛的提高直接导致了在后来几个月对everyday v1.0的重写。于此同时也提高了rails开发的能力。</p>
    <div class="clear"></div>

    <a href="images/eyd1.3.png"  data-gal="prettyPhoto"  target="_blank" title="everyday1.3"><img src="images/eyd1.3.png" class="imgl" width="280", height="180" /></a>
    <div>
      <div class="date"><span class="day">23</span> <span class="month">Oct</span> <span class="year">2011</span></div>
    </div>
    <p>我们与2011年10月23日，上线了everyday v1.3版本，在这期间有用rails写了tech talk和everyday news两个子站，逐渐的everyday已经成为个人技术实验室,尝试mongodb,ubuntu,git,nginx,vim,rubygem等.</p>
    <div class="clear"></div>

    <a href="images/eyd2.0.png"  data-gal="prettyPhoto"  target="_blank" title="everyday2.0"><img src="images/eyd2.0.png" class="imgl" width="280", height="180" /></a>
    <div>
      <div class="date"><span class="day">15</span> <span class="month">May</span> <span class="year">2012</span></div>
    </div>
    <p>Everyday 2.0的采用了全新的架构，从把原来的1.3分成了后台服务-<strong>everyday_cms</strong>和前台展现的<strong>everyday/teck_talk/everyday_news</strong> 这四个部分，相互之间通过Restful webservice的方式来进行交互，同时去掉了评论功能，使用第三方的disqus插件，这样提供了更完善的服务和维护性。Everyday也将和我们一起成长!</p>
  </div>

  <div class="sidebar">
    <div class="subnav">
      <h5>关注我们!</h5>
      <ul>
        <li><a href="http://weibo.com/yoyo20110204" target="_blank">新浪微博-yoyo妈妈</a></li>
        <li><a href="http://weibo.com/everydaycn" target="_blank">新浪微博-tim</a></li>
        <li><a href="http://cn.linkedin.com/pub/tim-tang/45/994/238" target="_blank">Linkedin</a></li>
        <li><a href="https://github.com/tim-tang" target="_blank">Github</a></li>
        <li><a href="http://twitter.com/tangjilong" target="_blank">Twitter</a></li>
        <li><a href="http://twitter.com/tangjilong" target="_blank">Facebook</a></li>
      </ul>
    </div>
  </div>

  <div class="sidebar">
    <div class="subnav">
      <h5>友情链接</h5>
      <ul>
        <li><a href="http://tim.everyday-cn.com" target="_blank">Tech Talk</a></li>
        <li><a href="http://www.rubyeye.net/" target="_blank">RubyEye.Net</a></li>
        <li><a href="http://cms.everyday-cn.com" target="_blank">Everyday CMS</a></li>
        <li><a href="http://stackoverflow.com/" target="_blank">Stack Overflow</a></li>
        <li><a href="http://pragprog.com/" target="_blank">The Pragmatic Bookshelf</a></li>
        <li><a href="http://railscasts.com/" target="_blank">Ruby on Rails Screencasts</a></li>
      </ul>
    </div>
  </div>
  <div class="clear"></div>
</div>

<div id="disqus_thread"></div>
<script type="text/javascript">
  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
//var disqus_developer = 1;
var disqus_shortname = 'everyday-cn'; // required: replace example with your forum shortname
/* * * DON'T EDIT BELOW THIS LINE * * */
(function() {
 var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
 dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
 (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
 })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

</div>
</div>

