<h1>关于Everyday</h1>
<div class="box">
  <div class="content">
    <a href="images/eyd1.0.png"  data-gal="prettyPhoto"  target="_blank" title="everyday1.0"><img src="images/eyd1.0.png" class="imgl" width="300", height="180" /></a>
    <div>
      <div class="date"><span class="day">04</span> <span class="month">May</span> <span class="year">2011</span></div>
    </div>
    <p>Eget nunc orci turpis minim sed vel. Volutpat urna sit tellus sapien. Quis aliquet viverra mi tristique elit cumque, eu blandit magna, integer sed metus id leo congue fusce.</p>
    <p>Dapiensociis <a href="#">temper donec auctortortis cumsan</a> et curabitur condis lorem loborttis leo. Ipsumcommodo libero nunc at in velis tincidunt pellentum tincidunt vel lorem.</p>

    <div class="clear"></div>
    <a href="images/eyd1.3.png"  data-gal="prettyPhoto"  target="_blank" title="everyday1.3"><img src="images/eyd1.3.png" class="imgl" width="300", height="180" /></a>
    <div>
      <div class="date"><span class="day">23</span> <span class="month">Oct</span> <span class="year">2011</span></div>
    </div>
    <p>Temperinte interdum sempus odio urna eget curabitur semper convallis nunc laoreet. Nullain convallis ris <a href="#"><strong>elis vest liberos nis diculis</strong></a> feugiat in rutrum. Suspendreristibulumfaucibulum lobortor quis tortortor ris sapien sce enim et volutpat sus.</p>

    <div class="clear"></div>
    <a href="images/eyd2.0.png"  data-gal="prettyPhoto"  target="_blank" title="everyday2.0"><img src="images/eyd2.0.png" class="imgl" width="300", height="180" /></a>
    <div>
      <div class="date"><span class="day">15</span> <span class="month">May</span> <span class="year">2012</span></div>
    </div>
    <p>Eget nunc orci turpis minim sed vel. Volutpat urna sit tellus sapien. Quis aliquet viverra mi tristique elit cumque, eu blandit magna, integer sed metus id leo congue fusce.</p>
    <p>Dapiensociis <a href="#">temper donec auctortortis cumsan</a> et curabitur condis lorem loborttis leo. Ipsumcommodo libero nunc at in velis tincidunt pellentum tincidunt vel lorem.</p>
  </div>

  <div class="sidebar">
    <div class="subnav">
      <h5>关注我们!</h5>
      <ul>
        <li><a href="http://weibo.com/yoyo20110204" target="_blank">新浪微博-yoyo妈妈</a></li>
        <li><a href="http://weibo.com/everydaycn" target="_blank">新浪微博-tim</a></li>
        <li><a href="http://cn.linkedin.com/pub/tim-tang/45/994/238" target="_blank">Linkedin</a></li>
        <li><a href="https://github.com/tim-tang" target="_blank">Github</a></li>
        <li><a href="http://twitter.com/tangjilong" target="_blank">Twitter</a></li>
        <li><a href="http://twitter.com/tangjilong" target="_blank">Facebook</a></li>
      </ul>
    </div>
  </div>

  <div class="sidebar">
    <div class="subnav">
      <h5>友情链接</h5>
      <ul>
        <li><a href="http://tim.everyday-cn.com" target="_blank">Tech Talk</a></li>
        <li><a href="http://www.rubyeye.net/" target="_blank">RubyEye.Net</a></li>
        <li><a href="http://stackoverflow.com/" target="_blank">Stack Overflow</a></li>
        <li><a href="http://pragprog.com/" target="_blank">The Pragmatic Bookshelf</a></li>
        <li><a href="http://railscasts.com/" target="_blank">Ruby on Rails Screencasts</a></li>
      </ul>
    </div>
  </div>
  <div class="clear"></div>
</div>
</div>
</div>

