<%= stylesheet_link_tag 'global.css', :media=>'screen' %>
<div class="box" id="item-view">
  <%= render 'blog/more'%>
</div>
<div id="loading_more" class="load_more">
  <p align="center"><%= image_tag 'ajax-loader.gif'%></p>
  正在加载更多博客...
</div>
