<div class="block blog_link">
  <h2>博客分类</h2>
  <ul id="list">
    <% @categories.each do |cat|%>
      <li><h6><%=link_to cat.category, {:action=>:index, :id=>cat.id, :catname=>cat.category, :controller=>:category}%>
      </h6></li>
  <% end %>
  </ul>
</div>
