<footer>
<p class="tagline_left">Copyright &copy; 2012 -Tim.Tang All Rights Reserved - <a href="#">www.everyday.com</a></p>
<p class="tagline_right"><%=link_to image_tag("linode.png"), "http://www.linode.com/?r=d942998f8e55bf9e31a0f3cdc394abd882f6e38b", :target=>"_blank"%></p>
<br class="clear" />
</footer>
<br />
<br />
