<div class="block">
	<h2>最新评论</h2>
	<ul id="list">
		<li>Tim.Tang 说: <a href="#">donec auctortortis cumsan et curabitur.</a></li>
		<li>Condis lorem loborttis leo.</li>
		<li>Portortornec condimenterdum eget consectetuer condis.</li>
		<li>Puruselit mauris nulla hendimentesque elit semper nam a sapien urna sempus.</li>
	</ul>
</div>
