<div class="block blog_link">
  <h2>热门文章</h2>
  <ul id="list">
    <% @hot_topics.each do |topic|%>
      <li><h6><%=link_to topic.title , {:action=>:show, :id=>topic.id, :controller=>:blog}%> (<%= topic.view_count%>人阅读)</h6></li>
  <% end %>
  </ul>
</div>
