<div class="main-container">
  <div id="nav-container">
    <nav>
    <ul class="nav">
      <li class="active"><a href="index.html">首页</a></li>
      <li><a href="gallery.html">图片show</a></li>
      <li><a href="blog_archive.html">博客归档</a></li>
      <li><a href="guest_book.html">留言版</a></li>
      <li><a href="about_us.html">关于我们</a></li>
      <li class="last"><a href="contact.html">联系我们</a></li>
    </ul>
    </nav>
    <div class="clear"></div>
  </div>
</div>
