<div class="main-container">
  <div id="sub-headline">
    <div class="tagline_left">
      <!-- TODO: -->
    </div>
    <div class="tagline_right">
      <form action="#" method="post">
        <fieldset>
          <legend>Site Search</legend>
          <input type="text" value="Search Our Website&hellip;"   onfocus="if (this.value == 'Search Our Website&hellip;') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Search Our Website&hellip;';}" />
          <input type="submit" name="go" id="go" value="搜索" />
        </fieldset>
      </form>
    </div>
    <br class="clear" />
  </div>
</div>
