<div class="main-container">
  <div id="sub-headline">
    <div class="tagline_left">
      <!-- TODO: -->
    </div>
    <div class="tagline_right">

      <%= form_tag search_path, :method => :get do %>
        <fieldset>
          <legend>Site Search</legend>
          <%= text_field_tag :search, params[:search], :value=>"请输入关键字...", :onfocus=>"if (this.value == '请输入关键字...') {this.value = '';}", :onblur=>"if (this.value == '') {this.value = '请输入关键字...';}"%>
        <%= submit_tag "搜索", :name => 'Go', :id=>"go"%>
        </fieldset>
      <% end %>
    </div>
    <br class="clear" />
  </div>
</div>
